[data-md-color-scheme="slate"] {
  color-scheme: dark;
  --md-primary-fg-color:        #3d354b; /*цвет шапки и левого меню*/
  /*--md-primary-fg-color:        #322235;*/
  /*--md-primary-fg-color:        #343035;*/
  --md-primary-fg-color--light: #3d354b;
  --md-primary-fg-color--dark:  #201c27;
  --md-primary-bg-color:        #dadada;
  --md-primary-bg-color--light: #dadada;

  --md-accent-fg-color: #885994; /*цвет текста при наведении gray 100*/
  --md-accent-fg-color--transparent: #201c27;
  --md-accent-bg-color: #3d354b;
  --md-accent-bg-color--light: #3d354b;

  --md-default-fg-color:        #F5F5F5;  /*цвет текста gray 100*/
  --md-default-fg-color--light: #EEEEEE;  /*цвет текста на h1 (#) gray 200*/
  --md-default-fg-color--dark:  #BDBDBD; /*цвет gray 400*/
  --md-default-bg-color:        #1e1f22;  /*цвет фона gray 900 212121*/
  --md-default-bg-color--light: #212121;
  --md-default-bg-color--lighter: #ffffff;
  --md-default-bg-color--lightest: #ffffff;

  --md-footer-bg-color--dark: #3d354b;

  .md-typeset h1{
    font-size: 3em;
    }

  .md-typeset h2 {
    font-size: 1.4;
    line-height: 1.4;
    margin: 1.6em 0 .64em
    }

  .md-typeset h1,.md-typeset h2 {
    font-weight: 300;
    letter-spacing: -.04em
    }

  .md-typeset {
    /* -webkit-print-color-adjust: exact;
    color-adjust: exact; */
    font-size: .7rem;
    line-height: 1.6
      }
  .md-typeset a {
        color: #e0e0e0;
        word-break: break-word
    }
  .md-typeset a:hover {
      color: #885994;
      word-break: break-word
  }
  .md-typeset .admonition,.md-typeset details {
    background-color: #5b006d34;
    border: .075rem solid #885994;
    border-radius: .2rem;
    box-shadow: var(--md-shadow-z1);
    color: #e0e0e0;
    display: flow-root;
    font-size: .64rem;
    margin: 1.5625em 0;
    padding: 0 .6rem;
    page-break-inside: avoid;
    transition: box-shadow 125ms
}
  .md-typeset .admonition-title:before,.md-typeset summary:before {
    background-color: #885994;
    content: "";
    height: 1rem;
    -webkit-mask-image: var(--md-admonition-icon--note);
    mask-image: var(--md-admonition-icon--note);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: .625em;
    width: 1rem
}
  .md-typeset .admonition-title,.md-typeset summary {
    background-color: #f944ff1a;
    border: none;
    font-weight: 700;
    margin: 0 -.6rem;
    padding-bottom: .4rem;
    /* padding-top:.4rem; */
    /* position:relative; */
  }
  footer.md-footer {
    color: #000000de;
    background-color: #000000de;
}
}